{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if latest_question_list %}
    <table>
     <th>ID</th>
     <th>Дата публикации</th>
     <th>Вопрос</th>
      {% for question in latest_question_list %}
        <tr>
          <td>{{ question.id }}</td>
          <td>{{ question.pub_date }}</td>
          <td><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></td>
        </tr>
      {% endfor %}
    </table>
{% else %}
    <p>Нет доступный вопросов.</p>
{% endif %}


<form action="/your-name/" method="post">
    <label for="your_name">Твое имя: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>

<label for="your_name">Твое имя: </label>
<input id="your_name" type="text" name="your_name" maxlength="100">